@charset "UTF-8";

:root {
    --mono-pink: #ffb3ff;
    --mono-red: #ff537a;
    --mono-yellow: #ffffb5;
    --mono-green: #00ffb5;
    --mono-gutter: 0.5rem;
    --mono-line-height: 1.65em;
    --mono-block-offset: 3.3em;
    cursor: none !important
}

@-webkit-keyframes hueRotate {
    0% {
        -webkit-filter: hue-rotate(0deg);
        filter: hue-rotate(0deg)
    }

    to {
        -webkit-filter: hue-rotate(1turn);
        filter: hue-rotate(1turn)
    }
}

@keyframes hueRotate {
    0% {
        -webkit-filter: hue-rotate(0deg);
        filter: hue-rotate(0deg)
    }

    to {
        -webkit-filter: hue-rotate(1turn);
        filter: hue-rotate(1turn)
    }
}

* {
    box-sizing: border-box
}

body,
html {
    font-family: IBM Plex Mono;
    background: #000;
    margin: 0;
    padding: 0;
    cursor: none !important;
    font-size: 16px;
    color: #fff
}

.wrapper {
    position: relative
}

html.is-locked,
html.is-locked body,
html.is-writing,
html.is-writing body {
    overflow: hidden !important;
    height: 100%
}

li,
ul {
    list-style: none;
    margin: 0;
    padding: 0
}

section {
    max-width: 1280px;
    margin: 0 auto;
    line-height: var(--mono-line-height);
    font-size: 1.1rem;
    background-image: url(grid-sm.58e0919a.png);
    background-size: contain;
    background-repeat: repeat-y;
    padding: 3.3em 12px 3em
}

section.full {
    width: 100%;
    margin: 0;
    overflow: hidden;
    position: relative;
    background: none;
    max-width: none;
    padding: 0
}

section.about {
    padding-bottom: 28rem
}

section.about+.home-wrapper {
    margin-top: -28rem
}

section>.visible-grid {
    max-width: 1024px;
    transform: translateX(-50%);
    background-image: url(grid-sm.58e0919a.png);
    background-size: contain;
    background-repeat: repeat;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 50%
}

.block {
    margin-top: var(--mono-line-height);
    margin-bottom: var(--mono-line-height)
}

.block--extended {
    margin-top: var(--mono-block-offset);
    margin-bottom: var(--mono-block-offset)
}

h3 {
    font-weight: 400;
    font-size: 1em;
    color: var(--mono-blue);
    margin: var(--mono-line-height) 0 0 0
}

h3+p {
    margin-top: .65em
}

.has-drop-cap:first-letter,
p.dropcap:first-letter {
    font-weight: 700;
    float: left;
    color: #feffab;
    font-size: 3.3em;
    line-height: .9em;
    padding-top: 4px;
    padding-right: 15px;
    padding-left: 3px
}

p a {
    text-decoration: underline
}

dd,
dl,
dt {
    margin: 0;
    padding: 0
}

dl,
figcaption {
    line-height: var(--mono-line-height)
}

dl dd {
    opacity: .54
}

figure {
    margin: 0;
    padding: 0
}

@media (min-width:75em) {
    figure.size-full img {
        max-width: 120%;
        position: relative;
        left: -10%;
        padding: 0
    }
}

h1,
h2,
h3 {
    display: inline-block
}

h2 {
    color: var(--mono-blue);
    font-size: 1em;
    margin: 0 0 .5em
}

hr+h2 {
    margin-top: 0 !important
}

p {
    margin: var(--mono-line-height) 0 var(--mono-line-height) 0
}

a {
    color: #fff;
    text-decoration: none
}

hr {
    margin: calc(var(--mono-line-height) * 2) 0;
    border: none
}

hr:after {
    display: block;
    content: "* * *";
    text-align: center
}

.ambient {
    padding-bottom: 0;
    padding-top: 5em
}

.ambient__cover {
    transition: all .5s ease-in-out;
    position: relative;
    z-index: 10;
    margin-top: -3vw;
    opacity: .85
}

.ambient__cover:hover {
    opacity: 1
}

.intro {
    background: none;
    min-height: 100vh;
    text-align: center;
    padding: 0
}

.intro,
.nav {
    position: relative
}

.nav {
    z-index: 1;
    padding: var(--mono-line-height) 1rem 4em 1rem
}

.nav nav {
    position: relative
}

.nav a {
    opacity: .54
}

.nav a:hover {
    opacity: 1
}

.nav ul {
    position: absolute;
    right: 0;
    top: 0;
    display: block
}

.nav ul li {
    display: inline-block;
    margin-left: 2em
}

.footer {
    padding-top: var(--mono-line-height);
    padding-bottom: .25em;
    margin-left: -12px
}

.footer__content {
    padding: .5em 0;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.footer .footer__home {
    padding: 6px 16px
}

.footer a {
    padding: 6px 12px;
    border-radius: 8px;
    display: inline-block
}

.footer p {
    line-height: 1
}

.footer__content span:after {
    content: "·"
}

.footer__content p:last-child {
    display: none
}

.intro video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

h1 {
    font-size: 2em;
    font-weight: 400;
    margin-bottom: 0;
    line-height: 1.15em;
    margin-top: 0
}

.about~section h1 {
    font-weight: 500
}

.about {
    position: relative
}

.about__contact {
    z-index: 99;
    opacity: 0;
    overflow-y: scroll;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    padding-top: 2em;
    bottom: 72px
}

.about__input {
    font-family: IBM Plex Mono;
    line-height: 1.55em;
    outline: none;
    margin: 0;
    width: 100%;
    background: none;
    font-weight: 400;
    font-size: 1em;
    display: block;
    color: #fff;
    border: none
}

.about__input--email {
    display: none
}

video {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    display: block;
    margin: 0 auto
}

p {
    line-height: var(--mono-line-height)
}

.about ul {
    margin: 3em 0 0
}

.about li {
    margin-bottom: 2em;
    align-self: baseline
}

.about img {
    display: block;
    margin-bottom: 1.5em
}

img {
    max-width: 100%;
    vertical-align: bottom
}

.work__item {
    border-radius: 8px;
    border: 3px solid #000;
    background: var(--mono-tile);
    overflow: hidden;
    height: 40vw;
    align-items: center;
    display: flex;
    position: relative
}

.work__item__container,
.work__item__container__description,
.work__item a {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0
}

.work__item+figcaption {
    margin-top: 1.5em
}

.work__item--containerless {
    border: none
}

.work__item a {
    text-align: center
}

.work__item img {
    transition: all 3s cubic-bezier(.19, 1, .22, 1)
}

.work__item:empty {
    pointer-events: none;
    background: none;
    border: none
}

.work__item--bottom .work__item__container {
    display: flex;
    align-items: flex-end
}

.work__item--top .work__item__container__content {
    align-items: flex-start
}

.work__item--tall {
    height: 72vw;
    margin-bottom: calc(-.1604166667 * 97vw * .8376623377)
}

.work {
    padding: 0 calc(12px + 6px)
}

.work+section {
    min-height: auto
}

.work__item video {
    position: absolute;
    top: 50%;
    left: 50%;
    height: auto;
    width: 100%;
    transform: translate(-50%, -50%)
}

.work__item--watchface video {
    transform: translate(-50%, -50%) scale(1.075)
}

.work__item--cover img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

.work__item__container__description {
    pointer-events: none;
    background: rgba(0, 0, 0, .5);
    color: #fff;
    z-index: 10;
    display: flex;
    justify-content: center;
    line-height: var(--mono-line-height);
    text-align: center;
    align-items: center;
    opacity: 0
}

.work__item__container__content {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center
}

.work__item__container__content img {
    width: 100%
}

.work__item--bottom .work__item__container__content {
    align-items: flex-end
}

.work__item--tall {
    margin-bottom: 0
}

.col-xs-hide {
    display: none
}

@media (min-width:48em) {
    .col-xs-hide {
        display: block
    }

    .col-sm-hide {
        display: none
    }
}

@media (min-width:62em) {
    .col-sm-hide {
        display: block
    }

    .col-md-hide {
        display: none
    }
}

@media (min-width:75em) {
    .col-lg-hide {
        display: none
    }
}

.words {
    position: relative;
    margin-top: 2em;
    overflow: hidden;
    padding-bottom: 0
}

.words__drawer {
    margin: 4em 0;
    height: 0;
    overflow-y: hidden;
    overflow-x: hidden;
    overflow: hidden
}

.words__samples {
    width: 243vw;
    margin-top: 2em;
    margin-bottom: 2em
}

.words__samples img {
    width: 8em
}

.words__samples__item {
    margin-bottom: var(--mono-line-height)
}

.words__extended {
    padding: 1.5em 0
}

.words__extended li {
    margin: var(--mono-line-height) 0
}

.words__carousel {
    overflow-x: scroll;
    margin-left: -5%;
    margin-right: -5%
}

.words__carousel>* {
    margin-left: 5%;
    margin-right: 5%
}

.words figcaption {
    margin-top: 1em
}

.words__extended {
    padding: 0 0 2em
}

.words__drawer {
    margin-top: 2em
}

.words figcaption {
    margin-top: 2em;
    margin-right: 24px
}

.about__buttons {
    margin-top: 2em;
    margin-bottom: 3.5em
}

.about__buttons,
.btn__icon,
.home-wrapper {
    transition: all .8s cubic-bezier(.23, 1, .32, 1)
}

.about__introText,
.about__title,
.btn--snd {
    transition: all .65s cubic-bezier(.23, 1, .32, 1)
}

@media (min-width:48em) {
    .is-writing .btn__icon {
        transform: rotate(180deg) translateY(24%)
    }
}

.about .about__contact {
    transition: all .8s cubic-bezier(.23, 1, .32, 1);
    transform: translateY(44px)
}

.has-content .about__contact {
    transition: all .3s cubic-bezier(.23, 1, .32, 1)
}

.btn__text {
    position: relative
}

.btn__text__main,
.btn__text__sub {
    transition: all .3s ease-in-out
}

.btn__text__sub {
    opacity: 0;
    position: absolute;
    width: 200px;
    top: 0;
    left: 0
}

.btn--snd {
    transform: translateY(48px);
    pointer-events: none;
    opacity: 0
}

.is-writing .about__contact {
    max-height: 50vh;
    pointer-events: auto;
    transform: translateY(0);
    opacity: 1
}

.is-writing .btn__text__sub {
    opacity: 1
}

.is-writing .btn__text__main {
    opacity: 0
}

.is-writing .about .btn--hi {
    padding-right: 1.8em
}

.is-writing .about__introText,
.is-writing .about__title {
    transform: translateY(-44px);
    opacity: 0
}

.is-writing .btn__icon {
    transform: rotate(180deg)
}

.has-content.is-writing .btn--snd {
    pointer-events: auto;
    transform: translateY(0);
    opacity: 1
}

.play {
    position: relative;
    background: #000;
    padding-bottom: 240vw
}

.play__visual {
    transform: scale(2.2) translateX(-16%) translateY(33vh);
    overflow: hidden
}

.play__content {
    position: relative;
    margin-top: -60%;
    z-index: 10;
    top: 0
}

.play__container {
    overflow: hidden;
    position: absolute;
    height: 100%
}

.fab {
    display: flex;
    justify-content: center;
    align-items: center;
    top: -6.5em;
    left: 50%;
    transform: translate(-50%, 50%);
    background: var(--mono-tile);
    position: absolute;
    border-radius: 100%;
    width: 72px;
    height: 72px
}

.fab--toggled:not(:hover) img {
    transition: transform .5s
}

.fab--toggled img {
    transform: rotate(45deg)
}

.fab img {
    width: 48px;
    height: 48px
}

.speaking {
    position: relative;
    z-index: 10;
    padding-bottom: 0
}

.speaking__figure span {
    justify-content: center;
    padding: 1.5em 0;
    height: auto
}

.speaking__figure__image {
    max-width: 72px
}

.speaking .engagement-list {
    margin-top: 3em
}

.speaking .engagement-list__item {
    margin-bottom: 1em
}

@media (min-width:48em) {
    .play__container {
        position: static;
        overflow: visible
    }

    h1 {
        font-size: 3.3em
    }

    body {
        display: block
    }

    .words__carousel {
        overflow: auto
    }

    .words__samples {
        width: auto
    }

    .words__samples img {
        width: 6em
    }

    .play__visual {
        transform: scale(1.2);
        margin-top: 5em;
        opacity: 1
    }

    .play__content {
        position: absolute;
        margin-top: 4em
    }

    .play {
        padding-bottom: 8em
    }

    .work__item--tall {
        height: 72vw
    }

    .footer {
        margin-left: 5%
    }

    .nav {
        padding-left: 0;
        padding-right: 0
    }

    .footer span:first-child {
        display: inline-block
    }

    .footer__content p:last-child {
        display: block
    }

    section {
        background-image: url(grid.82a8820e.png);
        margin-left: 5%;
        margin-right: 5%;
        padding-left: 0;
        padding-right: 0
    }
}

@media (min-width:62em) {

    body,
    html {
        font-size: 20px
    }

    h1 {
        font-size: 2em
    }

    .words__carousel,
    .words__carousel__content {
        margin-left: 0;
        margin-right: 0
    }

    video {
        width: 100%
    }

    section {
        margin-right: 10%;
        padding-left: 0;
        padding-right: 0
    }

    .footer,
    section {
        margin-left: 10%
    }

    .work__item {
        height: calc((1.5*0.1604166667) * 97vw * .8376623377)
    }

    .work__item--tall {
        height: calc((3*0.1604166667) * 97vw * .8376623377);
        margin-bottom: 0
    }

    .col-md-pullup-1 {
        margin-top: calc((-1.5*0.1604166667) * 97vw * .8376623377)
    }

    .col-md-pullup-2 {
        margin-top: calc((-3*0.1604166667) * 97vw * .8376623377)
    }

    .footer {
        display: block
    }

    .col-md-pull-left-1 {
        margin-left: -25%
    }

    .col-md-pull-left-2 {
        margin-left: -50%
    }

    .col-md-pull-left-3 {
        margin-left: -75%
    }

    .col-md-push-right-1 {
        margin-left: 25%
    }

    .col-md-push-right-2 {
        margin-left: 50%
    }

    .col-md-push-right-3 {
        margin-left: 75%
    }

    .col-md-hide {
        display: none
    }

    .work__item:not(.work__item--m):hover {
        -webkit-animation: hueRotate 10s infinite;
        animation: hueRotate 10s infinite
    }

    .work__item:hover .work__item__container__content {
        -webkit-filter: blur(44px);
        filter: blur(44px);
        transform: scale(1.5)
    }

    .work__item:hover .work__item__container video {
        transform: translate(-50%, -20%)
    }

    .work__item:hover .work__item__container__description {
        opacity: 1
    }

    .work__item--ambient:hover .work__item__container__content,
    .work__item--goo:hover .work__item__container__content,
    .work__item--jenny:hover .work__item__container__content,
    .work__item__discovery:hover .work__item__container__content {
        -webkit-filter: blur(14px);
        filter: blur(14px)
    }

    .work__item--nga:hover .work__item__container__content,
    .work__item--tactile:hover .work__item__container__content {
        -webkit-filter: blur(24px);
        filter: blur(24px);
        transform: scale(1)
    }
}

@media (min-width:75em) {
    figure.offset {
        margin-left: -12.5%;
        margin-right: -12.5%
    }

    h1 {
        font-size: 3em
    }

    h1+.row {
        margin-top: -.75em
    }

    .about h1+.row {
        margin-top: 0
    }

    section {
        width: 58.5%;
        max-width: 1140px;
        font-size: 1.2vw;
        padding-left: 0;
        padding-right: 0;
        margin-right: auto
    }

    .footer,
    section {
        margin-left: auto
    }

    .work__item {
        height: calc((.1604166667) * 97vw * .8376623377)
    }

    .work__item--tall {
        height: calc(2 * .1604166667 * 97vw * .8376623377);
        margin-bottom: calc(-.1604166667 * 97vw * .8376623377)
    }

    .col-md-pull-left-1,
    .col-md-pull-left-2,
    .col-md-pull-left-3,
    .col-md-push-right-1,
    .col-md-push-right-2,
    .col-md-push-right-3 {
        margin-left: 0
    }

    .col-md-hide {
        display: block
    }

    .col-lg-hide {
        display: none
    }

    .col-md-pullup-1,
    .col-md-pullup-2 {
        margin-top: 0
    }
}

:root {
    --gutter-width: 1rem;
    --outer-margin: 2rem;
    --gutter-compensation: calc((var(--gutter-width) * 0.5) * -1);
    --half-gutter-width: calc((var(--gutter-width) * 0.5));
    --xs-min: 30;
    --sm-min: 48;
    --md-min: 64;
    --lg-min: 75;
    --screen-xs-min: var(--xs-min) em;
    --screen-sm-min: var(--sm-min) em;
    --screen-md-min: var(--md-min) em;
    --screen-lg-min: var(--lg-min) em;
    --container-sm: calc(var(--sm-min) + var(--gutter-width));
    --container-md: calc(var(--md-min) + var(--gutter-width));
    --container-lg: calc(var(--lg-min) + var(--gutter-width))
}

.container,
.container-fluid {
    margin-right: auto;
    margin-left: auto
}

.container-fluid {
    padding-right: var(--outer-margin, 2rem);
    padding-left: var(--outer-margin, 2rem)
}

.row {
    box-sizing: border-box;
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: var(--gutter-compensation, -.5rem);
    margin-left: var(--gutter-compensation, -.5rem)
}

.row.reverse {
    flex-direction: row-reverse
}

.col.reverse {
    flex-direction: column-reverse
}

.col-xs,
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-offset-0,
.col-xs-offset-1,
.col-xs-offset-2,
.col-xs-offset-3,
.col-xs-offset-4,
.col-xs-offset-5,
.col-xs-offset-6,
.col-xs-offset-7,
.col-xs-offset-8,
.col-xs-offset-9,
.col-xs-offset-10,
.col-xs-offset-11,
.col-xs-offset-12 {
    box-sizing: border-box;
    flex: 0 0 auto;
    padding-right: var(--half-gutter-width, .5rem);
    padding-left: var(--half-gutter-width, .5rem)
}

.col-xs {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%
}

.col-xs-1 {
    flex-basis: 8.33333333%;
    max-width: 8.33333333%
}

.col-xs-2 {
    flex-basis: 16.66666667%;
    max-width: 16.66666667%
}

.col-xs-3 {
    flex-basis: 25%;
    max-width: 25%
}

.col-xs-4 {
    flex-basis: 33.33333333%;
    max-width: 33.33333333%
}

.col-xs-5 {
    flex-basis: 41.66666667%;
    max-width: 41.66666667%
}

.col-xs-6 {
    flex-basis: 50%;
    max-width: 50%
}

.col-xs-7 {
    flex-basis: 58.33333333%;
    max-width: 58.33333333%
}

.col-xs-8 {
    flex-basis: 66.66666667%;
    max-width: 66.66666667%
}

.col-xs-9 {
    flex-basis: 75%;
    max-width: 75%
}

.col-xs-10 {
    flex-basis: 83.33333333%;
    max-width: 83.33333333%
}

.col-xs-11 {
    flex-basis: 91.66666667%;
    max-width: 91.66666667%
}

.col-xs-12 {
    flex-basis: 100%;
    max-width: 100%
}

.col-xs-offset-0 {
    margin-left: 0
}

.col-xs-offset-1 {
    margin-left: 8.33333333%
}

.col-xs-offset-2 {
    margin-left: 16.66666667%
}

.col-xs-offset-3 {
    margin-left: 25%
}

.col-xs-offset-4 {
    margin-left: 33.33333333%
}

.col-xs-offset-5 {
    margin-left: 41.66666667%
}

.col-xs-offset-6 {
    margin-left: 50%
}

.col-xs-offset-7 {
    margin-left: 58.33333333%
}

.col-xs-offset-8 {
    margin-left: 66.66666667%
}

.col-xs-offset-9 {
    margin-left: 75%
}

.col-xs-offset-10 {
    margin-left: 83.33333333%
}

.col-xs-offset-11 {
    margin-left: 91.66666667%
}

.start-xs {
    justify-content: flex-start;
    text-align: start
}

.center-xs {
    justify-content: center;
    text-align: center
}

.end-xs {
    justify-content: flex-end;
    text-align: end
}

.top-xs {
    align-items: flex-start
}

.middle-xs {
    align-items: center
}

.bottom-xs {
    align-items: flex-end
}

.around-xs {
    justify-content: space-around
}

.between-xs {
    justify-content: space-between
}

.first-xs {
    order: -1
}

.last-xs {
    order: 1
}

@media only screen and (min-width:48em) {
    .container {
        width: var(--container-sm, 46rem)
    }

    .col-sm,
    .col-sm-1,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12,
    .col-sm-offset-0,
    .col-sm-offset-1,
    .col-sm-offset-2,
    .col-sm-offset-3,
    .col-sm-offset-4,
    .col-sm-offset-5,
    .col-sm-offset-6,
    .col-sm-offset-7,
    .col-sm-offset-8,
    .col-sm-offset-9,
    .col-sm-offset-10,
    .col-sm-offset-11,
    .col-sm-offset-12 {
        box-sizing: border-box;
        flex: 0 0 auto;
        padding-right: var(--half-gutter-width, .5rem);
        padding-left: var(--half-gutter-width, .5rem)
    }

    .col-sm {
        flex-grow: 1;
        flex-basis: 0;
        max-width: 100%
    }

    .col-sm-1 {
        flex-basis: 8.33333333%;
        max-width: 8.33333333%
    }

    .col-sm-2 {
        flex-basis: 16.66666667%;
        max-width: 16.66666667%
    }

    .col-sm-3 {
        flex-basis: 25%;
        max-width: 25%
    }

    .col-sm-4 {
        flex-basis: 33.33333333%;
        max-width: 33.33333333%
    }

    .col-sm-5 {
        flex-basis: 41.66666667%;
        max-width: 41.66666667%
    }

    .col-sm-6 {
        flex-basis: 50%;
        max-width: 50%
    }

    .col-sm-7 {
        flex-basis: 58.33333333%;
        max-width: 58.33333333%
    }

    .col-sm-8 {
        flex-basis: 66.66666667%;
        max-width: 66.66666667%
    }

    .col-sm-9 {
        flex-basis: 75%;
        max-width: 75%
    }

    .col-sm-10 {
        flex-basis: 83.33333333%;
        max-width: 83.33333333%
    }

    .col-sm-11 {
        flex-basis: 91.66666667%;
        max-width: 91.66666667%
    }

    .col-sm-12 {
        flex-basis: 100%;
        max-width: 100%
    }

    .col-sm-offset-0 {
        margin-left: 0
    }

    .col-sm-offset-1 {
        margin-left: 8.33333333%
    }

    .col-sm-offset-2 {
        margin-left: 16.66666667%
    }

    .col-sm-offset-3 {
        margin-left: 25%
    }

    .col-sm-offset-4 {
        margin-left: 33.33333333%
    }

    .col-sm-offset-5 {
        margin-left: 41.66666667%
    }

    .col-sm-offset-6 {
        margin-left: 50%
    }

    .col-sm-offset-7 {
        margin-left: 58.33333333%
    }

    .col-sm-offset-8 {
        margin-left: 66.66666667%
    }

    .col-sm-offset-9 {
        margin-left: 75%
    }

    .col-sm-offset-10 {
        margin-left: 83.33333333%
    }

    .col-sm-offset-11 {
        margin-left: 91.66666667%
    }

    .start-sm {
        justify-content: flex-start;
        text-align: start
    }

    .center-sm {
        justify-content: center;
        text-align: center
    }

    .end-sm {
        justify-content: flex-end;
        text-align: end
    }

    .top-sm {
        align-items: flex-start
    }

    .middle-sm {
        align-items: center
    }

    .bottom-sm {
        align-items: flex-end
    }

    .around-sm {
        justify-content: space-around
    }

    .between-sm {
        justify-content: space-between
    }

    .first-sm {
        order: -1
    }

    .last-sm {
        order: 1
    }
}

@media only screen and (min-width:64em) {
    .container {
        width: var(--container-md, 61rem)
    }

    .col-md,
    .col-md-1,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-10,
    .col-md-11,
    .col-md-12,
    .col-md-offset-0,
    .col-md-offset-1,
    .col-md-offset-2,
    .col-md-offset-3,
    .col-md-offset-4,
    .col-md-offset-5,
    .col-md-offset-6,
    .col-md-offset-7,
    .col-md-offset-8,
    .col-md-offset-9,
    .col-md-offset-10,
    .col-md-offset-11,
    .col-md-offset-12 {
        box-sizing: border-box;
        flex: 0 0 auto;
        padding-right: var(--half-gutter-width, .5rem);
        padding-left: var(--half-gutter-width, .5rem)
    }

    .col-md {
        flex-grow: 1;
        flex-basis: 0;
        max-width: 100%
    }

    .col-md-1 {
        flex-basis: 8.33333333%;
        max-width: 8.33333333%
    }

    .col-md-2 {
        flex-basis: 16.66666667%;
        max-width: 16.66666667%
    }

    .col-md-3 {
        flex-basis: 25%;
        max-width: 25%
    }

    .col-md-4 {
        flex-basis: 33.33333333%;
        max-width: 33.33333333%
    }

    .col-md-5 {
        flex-basis: 41.66666667%;
        max-width: 41.66666667%
    }

    .col-md-6 {
        flex-basis: 50%;
        max-width: 50%
    }

    .col-md-7 {
        flex-basis: 58.33333333%;
        max-width: 58.33333333%
    }

    .col-md-8 {
        flex-basis: 66.66666667%;
        max-width: 66.66666667%
    }

    .col-md-9 {
        flex-basis: 75%;
        max-width: 75%
    }

    .col-md-10 {
        flex-basis: 83.33333333%;
        max-width: 83.33333333%
    }

    .col-md-11 {
        flex-basis: 91.66666667%;
        max-width: 91.66666667%
    }

    .col-md-12 {
        flex-basis: 100%;
        max-width: 100%
    }

    .col-md-offset-0 {
        margin-left: 0
    }

    .col-md-offset-1 {
        margin-left: 8.33333333%
    }

    .col-md-offset-2 {
        margin-left: 16.66666667%
    }

    .col-md-offset-3 {
        margin-left: 25%
    }

    .col-md-offset-4 {
        margin-left: 33.33333333%
    }

    .col-md-offset-5 {
        margin-left: 41.66666667%
    }

    .col-md-offset-6 {
        margin-left: 50%
    }

    .col-md-offset-7 {
        margin-left: 58.33333333%
    }

    .col-md-offset-8 {
        margin-left: 66.66666667%
    }

    .col-md-offset-9 {
        margin-left: 75%
    }

    .col-md-offset-10 {
        margin-left: 83.33333333%
    }

    .col-md-offset-11 {
        margin-left: 91.66666667%
    }

    .start-md {
        justify-content: flex-start;
        text-align: start
    }

    .center-md {
        justify-content: center;
        text-align: center
    }

    .end-md {
        justify-content: flex-end;
        text-align: end
    }

    .top-md {
        align-items: flex-start
    }

    .middle-md {
        align-items: center
    }

    .bottom-md {
        align-items: flex-end
    }

    .around-md {
        justify-content: space-around
    }

    .between-md {
        justify-content: space-between
    }

    .first-md {
        order: -1
    }

    .last-md {
        order: 1
    }
}

@media only screen and (min-width:75em) {
    .container {
        width: var(--container-lg, 71rem)
    }

    .col-lg,
    .col-lg-1,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12,
    .col-lg-offset-0,
    .col-lg-offset-1,
    .col-lg-offset-2,
    .col-lg-offset-3,
    .col-lg-offset-4,
    .col-lg-offset-5,
    .col-lg-offset-6,
    .col-lg-offset-7,
    .col-lg-offset-8,
    .col-lg-offset-9,
    .col-lg-offset-10,
    .col-lg-offset-11,
    .col-lg-offset-12 {
        box-sizing: border-box;
        flex: 0 0 auto;
        padding-right: var(--half-gutter-width, .5rem);
        padding-left: var(--half-gutter-width, .5rem)
    }

    .col-lg {
        flex-grow: 1;
        flex-basis: 0;
        max-width: 100%
    }

    .col-lg-1 {
        flex-basis: 8.33333333%;
        max-width: 8.33333333%
    }

    .col-lg-2 {
        flex-basis: 16.66666667%;
        max-width: 16.66666667%
    }

    .col-lg-3 {
        flex-basis: 25%;
        max-width: 25%
    }

    .col-lg-4 {
        flex-basis: 33.33333333%;
        max-width: 33.33333333%
    }

    .col-lg-5 {
        flex-basis: 41.66666667%;
        max-width: 41.66666667%
    }

    .col-lg-6 {
        flex-basis: 50%;
        max-width: 50%
    }

    .col-lg-7 {
        flex-basis: 58.33333333%;
        max-width: 58.33333333%
    }

    .col-lg-8 {
        flex-basis: 66.66666667%;
        max-width: 66.66666667%
    }

    .col-lg-9 {
        flex-basis: 75%;
        max-width: 75%
    }

    .col-lg-10 {
        flex-basis: 83.33333333%;
        max-width: 83.33333333%
    }

    .col-lg-11 {
        flex-basis: 91.66666667%;
        max-width: 91.66666667%
    }

    .col-lg-12 {
        flex-basis: 100%;
        max-width: 100%
    }

    .col-lg-offset-0 {
        margin-left: 0
    }

    .col-lg-offset-1 {
        margin-left: 8.33333333%
    }

    .col-lg-offset-2 {
        margin-left: 16.66666667%
    }

    .col-lg-offset-3 {
        margin-left: 25%
    }

    .col-lg-offset-4 {
        margin-left: 33.33333333%
    }

    .col-lg-offset-5 {
        margin-left: 41.66666667%
    }

    .col-lg-offset-6 {
        margin-left: 50%
    }

    .col-lg-offset-7 {
        margin-left: 58.33333333%
    }

    .col-lg-offset-8 {
        margin-left: 66.66666667%
    }

    .col-lg-offset-9 {
        margin-left: 75%
    }

    .col-lg-offset-10 {
        margin-left: 83.33333333%
    }

    .col-lg-offset-11 {
        margin-left: 91.66666667%
    }

    .start-lg {
        justify-content: flex-start;
        text-align: start
    }

    .center-lg {
        justify-content: center;
        text-align: center
    }

    .end-lg {
        justify-content: flex-end;
        text-align: end
    }

    .top-lg {
        align-items: flex-start
    }

    .middle-lg {
        align-items: center
    }

    .bottom-lg {
        align-items: flex-end
    }

    .around-lg {
        justify-content: space-around
    }

    .between-lg {
        justify-content: space-between
    }

    .first-lg {
        order: -1
    }

    .last-lg {
        order: 1
    }
}

.btn {
    border-radius: 3em;
    padding: 1.1em;
    line-height: 1em;
    border: 1.5px solid #fff;
    transform: translate(var(--translateX), var(--translateY));
    --translateX: 0;
    --translateY: 0
}

.btn,
.btn__icon {
    display: inline-block
}

.btn *> {
    vertical-align: middle
}

.btn__icon {
    position: absolute;
    text-align: center;
    width: 12px;
    left: 1em;
    line-height: 1rem
}

.btn--icon .btn__text {
    margin-left: 1em
}

.btn--margin {
    margin: 2em 0
}

.btn>* {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

@-webkit-keyframes push {
    0% {
        transform: scale(1)
    }

    50% {
        transform: scale(.9)
    }

    to {
        transform: scale(1)
    }
}

@keyframes push {
    0% {
        transform: scale(1)
    }

    50% {
        transform: scale(.9)
    }

    to {
        transform: scale(1)
    }
}

@media only screen and (min-width:64em) {
    .btn:hover {
        transform: translate(var(--translateX), var(--translateY)) scale(var(--scale)) scale(1.015);
        border: 1px solid hsla(0, 0%, 100%, 0)
    }

    .btn:active,
    .fab:not(.fab--toggled):active img {
        -webkit-animation: push .5s ease-out;
        animation: push .5s ease-out
    }
}

.summary {
    padding-bottom: var(--mono-line-height);
    position: relative;
    z-index: 1
}

.summary--nga {
    padding-bottom: 12vw
}

.case-study section+section {
    padding-top: 0
}

.case-study figure {
    margin-top: 2rem
}

.case-study figure+figure {
    margin-top: -1px
}

.acknowledgement {
    margin-bottom: 0;
    opacity: .54
}

.colors__segments__item--googleblue {
    background: #4285f4
}

.colors__segments__item--googleyellow {
    color: #000;
    background: #fbbc05
}

.colors__segments__item--googlered {
    background: #ea4335
}

.colors__segments__item--googlegreen {
    color: #000;
    background: #34a853
}

.colors,
.construction {
    padding-bottom: 0
}

.colors__segments__item--monoblue {
    background: var(--mono-blue)
}

.colors__segments__item--monoyellow {
    color: #000;
    background: var(--mono-yellow)
}

.colors__segments__item--monored {
    background: var(--mono-red)
}

.colors__segments__item--monogreen {
    color: #000;
    background: var(--mono-green)
}

figure img {
    vertical-align: bottom
}

.characters ul {
    margin-top: 2em;
    margin-bottom: 2em
}

.characters li img:hover {
    -webkit-animation: hueRotate 10s infinite;
    animation: hueRotate 10s infinite
}

.characters img {
    margin-bottom: 1.25em
}

.characters li:first-child img {
    transition: all 1.5s cubic-bezier(.195, .55, .06, 1.005)
}

.characters li:nth-child(2) img {
    transition: all .8s cubic-bezier(.39, .63, .895, .365)
}

.characters li:nth-child(3) img {
    transition: all 1.3s cubic-bezier(.66, -.135, .14, 1.415)
}

.characters li:first-child img:hover {
    transform: rotate(45deg)
}

.characters li:nth-child(2) img:hover {
    transform: rotate(-45deg)
}

.characters li:nth-child(3) img:hover {
    transform: rotate(-220deg)
}

.characters li {
    margin-bottom: 3em
}

.characters {
    padding-bottom: 1em
}

.characters+.motion {
    margin-top: -2em
}

.motion__list {
    margin: 3em inherit
}

.motion__list .tile {
    height: 100%
}

.motion__list li {
    margin-bottom: 2em
}

.motion__list img {
    transform: scale(.5)
}

.homehub__molecules {
    margin-top: var(--mono-line-height);
    margin-bottom: var(--mono-line-height)
}

.homehub__yt {
    max-width: 100%;
    max-height: 100%
}

.case-study .homehub__device {
    margin: 2rem 0
}

.homehub__molecules img {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    max-width: 8em;
    width: 100%
}

.homehub__device video {
    width: 100%
}

.homhub__endcontainer {
    margin-top: -.5em
}

.homhub__endcontainer .homehub__device {
    margin-top: 0
}

.case-study .homehub__device--gridmargin {
    margin: 1rem 0
}

.tile--homehubyt {
    margin-top: .5em;
    margin-bottom: 3em
}

.mindful--analog {
    background: #fff;
    padding: 6em 0
}

.mindful--digital {
    background: #0e0e0e
}

.mindful--analog,
.mindful-digital {
    padding: 6em 0
}

.mindful--analog video,
.mindful--digital video {
    transform: scale(.8)
}

.mindful-inline-video {
    margin-left: 1px;
    background: #000
}

.block--mindful {
    background: #000
}

.mood+.nga__tensor {
    background: #000;
    padding: 6vw inherit
}

.nga__tensor+section {
    padding-top: 4vw
}

.nga__tensor__img {
    margin: 0 0 2vw -6em
}

.nga__invocationvideo {
    margin-left: -30px;
    width: calc(80% + 3.6rem);
    height: 94%
}

@media only screen and (max-width:61.99em) {
    .motion__list .tile__content--adjust-scale video {
        transform: scale(.6)
    }

    .case-study .homehub__device {
        margin: .5em 0
    }

    .case-study .homehub__device--gridmargin {
        margin: 1rem 0 0
    }

    .case-study .summary--nga {
        padding-top: 15em
    }

    .mood--nga .mood__picture {
        position: relative;
        margin-top: -8em
    }

    .nga__invocationvideo {
        width: calc(102% + 3.6rem);
        margin-left: -24px
    }
}

@media only screen and (max-width:47.99em) {
    .mood--nga .mood__picture {
        position: relative;
        margin-top: 0
    }

    .nga__invocationvideo {
        width: calc(100% + 1.1rem);
        height: 100%;
        margin: 0 0 0 -.4rem
    }

    .case-study .summary--nga {
        padding-top: 12em
    }

    .nga__tensor img {
        margin: 0 0 6vw -57vw;
        max-width: 130vw
    }

    .homhub__endcontainer {
        margin-top: -.5rem;
        margin-bottom: .5rem
    }

    .motion__list .tile__content--adjust-scale video {
        transform: scale(.6)
    }
}

@media (min-width:62em) {
    .motion__list img {
        transform: scale(1)
    }

    .motion__list__mono img {
        transform: scale(.65)
    }

    .homhub__endcontainer {
        margin-top: -1.65em
    }
}

@media (min-width:48em) {
    .writing .nav a {
        margin-left: -1.25em
    }
}

.writing section {
    padding-left: 4%;
    padding-right: 4%
}

@media (min-width:62em) {
    .writing section {
        padding-left: 0;
        padding-right: 0
    }
}

.writing .mood__picture {
    margin-bottom: 1em
}

.writing h3 {
    margin-top: 0;
    font-size: 1.3em;
    line-height: 1.4em;
    color: #797979
}

.writing h1 {
    font-size: 2.2em;
    font-weight: 500;
    margin-bottom: .3em
}

.writing h2 {
    font-size: 1.5em;
    line-height: 1.35em;
    margin-top: 1em;
    margin-bottom: .2em;
    color: #dfdfdf
}

.writing article h3 {
    margin-top: 1em;
    line-height: 1.45em;
    font-weight: 400;
    font-weight: 700;
    color: #fff
}

@media (min-width:75em) {
    .writing__container {
        background: #090909;
        font-family: IBM Plex Sans, sans-serif;
        font-size: 1.55vw
    }

    .writing h1 {
        font-size: 3vw;
        font-weight: 500;
        margin-bottom: .3em
    }

    .writing h3 {
        margin-top: 0;
        font-size: 1.8vw;
        line-height: 1.45em;
        font-weight: 400;
        color: #797979
    }

    .writing h2 {
        font-size: 2.5vw;
        line-height: 1.35em;
        margin-top: 1em;
        margin-bottom: .2em;
        color: #dfdfdf
    }
}

time {
    margin-bottom: .5em;
    display: block
}

.writing figcaption {
    text-align: center;
    font-size: .75em;
    color: #666;
    margin-top: 1em
}

.writing figure img {
    border-radius: 4px;
    margin: 0 auto;
    height: auto;
    display: block
}

.writing figure img.size-full {
    width: 100%
}

.writing__container {
    padding-top: .5em;
    padding-bottom: 1em
}

.writing__container p:first-child {
    margin-top: 0
}

.writing__container ul {
    margin-left: 1.1em
}

.writing__container ol {
    margin-left: -.2em
}

.writing__container ol li {
    list-style-type: decimal;
    margin-left: 0;
    padding-left: 0
}

.writing__container ul li:before {
    content: "–  ";
    margin-left: -2.1em
}

.writing__container ol li,
.writing__container ul li {
    margin: calc(var(--mono-line-height) / 2) 0
}

.writing__container ul li {
    text-indent: 1.2em
}

blockquote {
    border-left: 3px solid #fff;
    margin-left: 0;
    padding-left: 1em;
    font-style: italic
}

blockquote.big {
    font-size: 1.5em;
    margin: 0;
    padding: 0 5%;
    border: none
}

blockquote.big p {
    line-height: 1.45em
}

@media (min-width:48em) {
    blockquote.big {
        font-size: 1.8em;
        padding: 0 10%
    }
}

audio {
    outline: none
}

article {
    counter-reset: footnotes
}

a.footnote {
    counter-increment: footnotes;
    vertical-align: super;
    line-height: 0;
    font-size: .75em;
    position: relative;
    left: .2em;
    margin-left: 0;
    color: var(--mono-blue)
}

a.footnote:after {
    content: counter(footnotes)
}

.writing,
.writing body {
    background: #090909
}

.wp-block-phone-ui video {
    max-width: 400px;
    margin: 0 auto;
    border-radius: 38px;
    overflow: hidden
}

.writing,
.writing body {
    font-family: IBM Plex Sans, sans-serif;
    letter-spacing: .55px;
    color: #dfdfdf
}

.writing body section,
.writing section {
    background: none
}

.writing body h2+p,
.writing h2+p {
    margin-top: 0
}

@-webkit-keyframes "blink" {

    0%,
    to {
        color: transparent
    }

    50% {
        color: var(--mono-blue)
    }
}

@keyframes "blink" {

    0%,
    to {
        color: transparent
    }

    50% {
        color: var(--mono-blue)
    }
}

.newsletter {
    position: relative
}

.newsletter__cursor {
    position: absolute;
    font-weight: 100;
    font-size: 1.5em;
    display: none;
    color: #2e3d48;
    top: 50%;
    left: .5em;
    transform: translateY(-55%);
    -webkit-animation: blink 1s step-end infinite;
    animation: blink 1s step-end infinite
}

.newsletter__input:-moz-placeholder-shown+.newsletter__cursor {
    display: block
}

.newsletter__input:-ms-input-placeholder+.newsletter__cursor {
    display: block
}

.newsletter__input:placeholder-shown+.newsletter__cursor {
    display: block
}

.mc-field-group {
    border-radius: 6px;
    background: hsla(0, 0%, 100%, .075);
    overflow: hidden;
    margin-right: 1px;
    margin-left: 1px
}

.writing .footer {
    margin-top: 0;
    padding-top: 0
}

.invert {
    -webkit-filter: invert();
    filter: invert()
}

.invertgs {
    -webkit-filter: invert() grayscale();
    filter: invert() grayscale()
}

.newsletter__wrapper {
    position: relative;
    margin-top: 1.5em
}

#mc_embed_signup div.mce_inline_error,
#mce-responses {
    background: var(--mono-blue) !important;
    position: absolute;
    width: 100%;
    padding-left: 24px;
    border-radius: 0 0 6px 6px;
    font-size: 16px
}

.newsletter__input {
    font-family: IBM Plex Sans;
    border-radius: 6px 0 0 6px;
    outline: none;
    color: #fff;
    font-size: 1.1em;
    min-width: 50%;
    background: none;
    border: none;
    padding: 1.1em
}

.writing .newsletter__input {
    font-size: 1em;
    padding: 1em
}

.newsletter__input:focus+.newsletter__cursor {
    display: none
}

.newsletter__button {
    font-family: IBM Plex Sans;
    -webkit-appearance: none;
    height: 100%;
    color: #fff;
    position: absolute;
    top: 0;
    outline: none;
    right: 0;
    bottom: 0;
    display: block;
    text-align: center;
    padding: 0;
    border: none;
    border-radius: 0 6px 6px 0;
    line-height: 3em;
    font-size: 1em;
    background: hsla(0, 0%, 100%, .05);
    width: calc(33.333333% - 10px)
}

.newsletter__button:hover {
    background: var(--mono-blue)
}

@media (min-width:62em) {
    .newsletter__button {
        width: calc(16.66666% - 14px)
    }
}

.colors__segments {
    box-sizing: border-box;
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    flex-wrap: wrap
}

.colors__segments__item {
    transition: width .75s cubic-bezier(.19, 1, .22, 1);
    position: relative;
    font-size: .5em;
    white-space: nowrap;
    line-height: 1.75em;
    margin-right: .15rem;
    margin-left: .15rem;
    overflow: hidden;
    height: 20em;
    width: calc(16.33333333% - 1.25rem)
}

.colors__segments__item--active {
    width: calc(66.66666% - 1rem)
}

.colors__segments__item__title,
.colors__segments__item__values {
    transition: opacity .3s cubic-bezier(.19, 1, .22, 1);
    opacity: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    position: absolute;
    left: 1rem;
    font-size: .75rem
}

.colors__segments__item--active .colors__segments__item__title,
.colors__segments__item--active .colors__segments__item__values {
    opacity: 1
}

.colors__segments__item__title {
    text-transform: uppercase;
    margin: 0;
    top: 1rem
}

.colors__segments__item__values {
    position: absolute;
    bottom: 1rem
}

@media (min-width:48em) {
    .colors__segments__item {
        width: calc(8.33333333% - 1rem);
        margin-right: .5rem;
        margin-left: .5rem;
        height: 30em
    }

    .colors__segments__item--active {
        width: calc(66.666666% - 1rem)
    }

    .colors__segments {
        margin-right: -.5rem;
        margin-left: -.5rem
    }
}

@media (min-width:62em) {
    .colors__segments__item--active {
        width: calc(33.3333% - 1rem)
    }

    .colors__segments__item {
        height: 25em
    }
}

:root {
    --mono-blue: #008fff
}

* {
    cursor: url(cursor.19bbb4e3.png), none !important
}

#cursor {
    background: rgba(200, 200, 255, .2);
    transition-property: width, height, border-radius, transform;
    transition-timing-function: ease-out;
    transition-duration: .1s;
    pointer-events: none;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    position: absolute;
    left: -1000px;
    z-index: 99999;
    width: 36px;
    height: 36px
}

#cursor.is-locked {
    transition-property: width, height, left, top, border-radius
}

#cursor.cursor--text {
    border-radius: 2px !important;
    background: var(--mono-blue);
    width: 3px !important
}

.case-study .mood,
.mood {
    margin: 0
}

.mood+section {
    padding-top: var(--mono-line-height)
}

.mood {
    width: 100vw;
    overflow: hidden
}

.mood__bg {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 0
}

.mood__picture {
    max-width: 100%;
    width: 100%
}

.mood--backdrop .mood__picture {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0
}

:root {
    --mono-tile: #121217
}

.tile {
    background-color: #121217;
    transition: background .2s ease-in-out;
    display: block;
    border-radius: .5rem;
    position: relative
}

.tile__content {
    overflow: hidden;
    border-radius: .5rem;
    position: absolute;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    width: 100%;
    height: 100%;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0
}

.tile iframe,
.tile video {
    max-width: 100%;
    max-height: 100%
}

.tile--grid {
    margin-top: .5rem;
    margin-bottom: .5rem
}

.tile--4to3 {
    padding-top: 75%
}

.tile--16to9 {
    padding-top: 56.25%
}

.tile--16to10 {
    padding-top: 62.5%
}

.tile--center .tile__content {
    justify-content: center;
    align-items: center;
    vertical-align: middle
}

@media (min-width:62em) {
    .tile--hover:hover {
        background-color: #000
    }
}

/*# sourceMappingURL=main.39afc03c.css.map */